@use "../variables" as v;

.ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b090a;
  padding: 3px 1em;
  p {
    font-size: 10px;
    color: #aaaaaa;
    &:hover {
      color: #ffffff;
    }
  }
}

.ctn-item {
  display: none;
}

@media (min-width: v.$md) {
  .ctn {
    justify-content: space-between;
    padding: 5px 2em;
  }

  .ctn-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 40%;
  }
}

@media (min-width: v.$lg) {
  .ctn {
    padding: 7px 4em;
    p {
      font-size: 12px;
    }
  }
}

@media (min-width: v.$xl) {
  .ctn {
    padding: 7px 6em;
    p {
      font-size: 14px;
    }
  }
  .ctn-item {
    flex-basis: 30%;
  }
}
